/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* USAT Fonts */
@font-face {
    font-family: 'Unify Sans';
    src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySans_W_Rg.woff2') format('woff2'),
         url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySans_W_Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Unify Sans';
    src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySans_W_SBd.woff2') format('woff2'),
         url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySans_W_SBd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Unify Sans';
    src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySans_W_Bd.woff2') format('woff2'),
         url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySans_W_Bd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Unify Serif';
    src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySerif_W_Rg.woff2') format('woff2'),
         url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySerif_W_Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Unify Serif';
    src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySerif_W_SBd.woff2') format('woff2'),
         url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySerif_W_SBd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Unify Serif';
    src: url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/fonts/UnifySerif_W_Bd.woff2') format('woff2'),
         url('https://cpt-static.gannettdigital.com/universal-web-client/master/latest/gallium/themes/assets/universal/UnifySerif_W_Bd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-weight: 900;
}

/* Base styles */
:root {
	--color-light-purple: #B98BAC;
  --color-medium-purple: #955385;
	--color-dark-purple: #613957;
	--color-white: #ffffff;
	--color-black: #333333;
	--color-light-gray: #eeeeee;
  --color-medium-gray: #dddddd;
	--color-med-gray: #999999;
  --drop-shadow: 0 1px 6px rgba(0,0,0,0.10);
	--spacer-s: 10px;
	--spacer-m: 20px;
	--spacer-l: 24px;
	--spacer-xl: 36px;
}

html {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body {
  height: calc(100% - 124px);
}

body {
  background-color: var(--color-white);
  font-family: 'Unify Sans', 'Helvetica';
  padding-bottom: 20px;
}

.container {
  width: 100%;
  height: 100%;
	position: relative;
	margin-bottom: 200px;
}

.container a,
.container a:hover,
.container a:active,
.container a:focus {
  background: url('data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==') repeat;
  border: 0;
  display: block;
  outline: 0;
  outline-width: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.container a img,
.container a img:focus {
  border: 0;
  outline: 0;
  outline-width: 0;
  -webkit-tap-highlight-color: transparent;
}

.container .card-container {
  background-image: linear-gradient(180deg, var(--color-dark-purple) 300px, var(--color-white) 0);
	width: calc(100% - 60px);
	height: 100%;
  padding: 20px 30px 0;
}

.container .button {
	background-color: #eeeeee;
	width: 60px;
	height: 60px;
	border-radius: 50px;
	cursor: pointer;
	margin: 650px auto;
}

.container .card-number {
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .card-number p {
  font-size: 21px;
  color: var(--color-light-purple);
}

.container .card {
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  max-width: 530px;
  min-width: 350px;
  max-height: 602px;
  min-height: 500px;
  box-shadow: var(--drop-shadow);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container .card .answer-top,
.container .card .answer-bot {
  background-color: var(--color-medium-purple);
  width: 100%;
  height: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-direction: alternate;
  overflow: hidden;
}

.container .card .answer-top {
  width: 0;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}

.container .card .answer-bot {
  background-color: var(--color-white);
  height: 50%;
}

.container .card .answer-hdr {
  color: var(--color-white);
  font-size: 13px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.container .card .answer-value {
  color: var(--color-white);
  font-size: 31px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.container .card .answer-line {
  background-color: var(--color-white);
  width: 70px;
  height: 1px;
  margin: 10px auto;
}

.container .card .answer-note {
  color: var(--color-medium-purple);
  font-size: 33px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 63%;
  z-index: 4;
}

.container .card .more-btn {
  background-color: var(--color-medium-purple);
  width: 265px;
  height: 50px;
  color: var(--color-white);
  font-size: 15px;
  font-weight: 900;
  text-align: center;
  line-height: 50px;
  margin-top: 140px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 74%;
  z-index: 4;
}

.container .card .next-question {
  color: var(--color-light-purple);
  font-size: 15px;
  font-weight: 900;
  width: 180px;
  line-height: 23px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  border-bottom: 1px solid var(--color-light-purple);
  z-index: 5;
}

.container .card .answer-hide1,
.container .card .answer-hide2 {
  opacity: 0;
}

.container .card .circle-front {
  background-color: var(--color-white);
  width: 0;
  height: 0;
  /* width: 175px;
  height: 175px;
  min-width: 130px;
  min-height: 130px; */
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}

.container .card .circle-back {
  background-image: linear-gradient(180deg, var(--color-light-purple) 50%, var(--color-white) 0);
  width: 100%;
  height: 100%;
  /* width: 300px;
  height: 300px;
  min-width: 220px;
  min-height: 220px; */
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  opacity: 0;
}

.container .card .thumb-icon {
  width: 70px;
  height: 76.18px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 3;
  transform: scale(0);
  opacity: 0;
}

.container .card .thumb-icon img {
  width: 100%;
  height: 100%;
}

.container .card-slide {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.container .card-slide.is-anim {
	animation: slide 1000ms 1 cubic-bezier(0.75, 0, 0, 1);
}

.container .card-counter {
	margin-top: 0;
	opacity: 1;
}

.container .card-counter.is-anim {
	animation: counter 1250ms 1 cubic-bezier(0.75, 0, 0, 1);
	animation-delay: 0;
}

.container .pulse {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
	z-index: 0;
  box-shadow: 0 0 0 0 var(--color-white);
  border-radius: 100%;
  background-color: transparent;
}

.container .pulse.is-anim {
	animation: pulse 1000ms 1 cubic-bezier(0.75, 0, 0, 1);
	animation-delay: 250ms;
}

/* .pulse-anim {
	animation: pulse 1012.5ms 30 cubic-bezier(0.66, 0, 0, 1);
} */

@keyframes pulse {to {box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);}}
@keyframes slide {
	0% {
		left: -100%;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}
@keyframes counter {
	0% {
		margin-top: -10px;
		opacity: 0;
	}
	100% {
		margin-top: 0;
		opacity: 1;
	}
}
